.container {
    width: 18%;
    margin: auto;
    overflow: hidden;
}

*{
    font-family: "Poppins", sans-serif;
} 

#body{
    margin: 0%;
}
#mainNav{
    background: none;   
    position: -webkit-sticky;
    position: fixed;
    top:0;
}


.ExperienceButton{
    background: none;
    border: none;
    text-decoration: none;
    font-size: 18px;
}
.Experience{
    position: relative;
    display: inline-block;
}
.ExperienceSections{
    display: none;
    position: absolute;
    background-color: #696969;
    min-width: 160px;
    box-shadow: #696969;
    z-index: 1;
}
.ExperienceSections a {
    color: black;
    padding: 10px 10px;
    display:ruby;
}

.Experience:hover .ExperienceSections{
    display:contents;
}

.Experience:hover .ExperienceButton{
    text-decoration: underline !important;
}

#mainNav ul{ 
    padding: 9px;
    margin: 0;
    list-style: none;
    text-align: left;
}
#mainNav li{
    display: inline;
    padding: 10px 10px;
    
}
#mainNav a{
    color: rgb(134, 49, 177);
    text-decoration: none;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainNav a:hover{
    text-decoration: underline !important;
}
#mainBody{
    padding: 20px;
    background-color:rgb(38, 8, 52);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#intro{
    min-height: 600px;
    text-align: center;
    padding-top: 300px;
    color: rgb(42, 80, 114);
}
#ExperienceSection{
    padding: 20px;
    background-color:blanchedalmond;
    background-position: center;
    background-size:contain;
    background-attachment:scroll;
    height: 780px;
    border-radius: 10px;
}
#ExperienceTitle{
    position: experienceHeader;
    text-align: left;
}
#projectsHeader{
    padding-top: 200px;
    text-align:right;
}
/*welcome screen*/
.welcomeScreen{
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    height:100vh;
    background-color: rgb(8, 0, 13);
    transition: 2s;
}
.welcomeScreen-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255, 255, 255);
} 
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    color:aliceblue;
    opacity:0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
