.container {
    width: 18%;
    margin: auto;
    overflow: hidden;
}
#mainHeader {
    background: black;
    color: white;
}
#body{
    margin: 0%;
}
#mainNav{
    background: none;   
    position: -webkit-sticky;
    position: sticky;
}
.ExperienceButton{
    background: none;
    border: none;
    font-size: 18px;
}
.Experience{
    position: relative;
    display: inline-block;
}
.ExperienceSections{
    display: none;
    position: absolute;
    background-color: #696969;
    min-width: 160px;
    box-shadow: #696969;
    z-index: 1;
}
.ExperienceSections a {
    color: black;
    padding: 12px 16px;
    display:ruby;
}

.Experience:hover .ExperienceSections{
    display: block;
}
.Experience:hover .ExperienceButton{

    background-color: #696969;
}

#mainNav ul{ 
    padding: 9px;
    margin: 0;
    list-style: none;
    text-align: left;
}
#mainNav li{
    display: inline;
    padding: 10px 10px;
}
#mainNav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#mainNav li:hover{
    background-color: #696969;

}
#mainBody{
    padding: 20px;
    background-image: url(backgroundImage.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#intro{
    min-height: 1000px;
    text-align: center;
    padding-top: 300px;
    color: aliceblue;
}
#ExperienceSection{
    padding: 20px;
    background:rgb(189, 125, 21);
    height: 780px;
    border-radius: 10px;
}
#ExperienceTitle{
    position: experienceHeader;
    text-align: left;
}
#projectsHeader{
    padding-top: 200px;
    text-align:right;
}

.center{
    position: absolute;
    width: 250px;
    height: 200px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.top{
    height:0px;
    top: 0;
    right: 0;
    bottom:0;
}
.bottom{
    position: absolute;
    width: 600px;
    height: 0px;
    margin: auto;
    top: 400;
    right: 0;
    bottom: 0;
    left: 0;
}
body{
    background-color: white;
}
textarea{
    background-color: black; color: white;
}